Importação das bibliotecas

In [7]:
import pandas as pd
import tensorflow as tf
import sklearn

In [9]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

leitura dos dados

In [77]:
bd = pd.read_csv('carro.csv', encoding="latin1")

In [79]:
bd

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

Retirada de colunas desnecessárias para a rede neural

In [83]:
bd = bd.drop('dateCrawled', axis = 1)
bd = bd.drop('dateCreated', axis = 1)
bd = bd.drop('nrOfPictures', axis = 1)
bd = bd.drop('postalCode', axis = 1)
bd = bd.drop('lastSeen', axis = 1)

In [85]:
bd

,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

Aqui ele é feita a verificação de mais colunas para ver se é necessário ou pode ser retirado, afim de fazer a precificação.

In [87]:
bd['name'].value_counts()

name
Ford_Fiesta                                              657
BMW_318i                                                 627
Opel_Corsa                                               622
Volkswagen_Golf_1.4                                      603
BMW_316i                                                 523
                                                        ...
Audi_A4_Avant_Klima_Gruene_Plakette_TÜV_&AU_NEU_XENON      1
Renault_clio_in_gold_450VB_!!                              1
Fiat_Doblo_1.6_Multijet                                    1
Renault_Laguna_1                                           1
BMW_M135i_vollausgestattet_NP_52.720____Euro               1
Name: count, Length: 233531, dtype: int64

In [89]:
bd = bd.drop('name', axis = 1)

In [91]:
bd['seller'].value_counts()

seller
privat        371525
gewerblich         3
Name: count, dtype: int64

In [93]:
bd = bd.drop('seller', axis = 1)

In [95]:
bd['offerType'].value_counts()

offerType
Angebot    371516
Gesuch         12
Name: count, dtype: int64

In [97]:
bd = bd.drop('offerType', axis = 1)

In [99]:
bd

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

Verificando se existem carros com valores < 10

In [101]:
bd.loc[bd['price'] <= 10]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
7,0,test,limousine,1980,manuell,50,andere,40000,7,benzin,volkswagen,nein
40,0,test,NaN,1990,NaN,0,corsa,150000,1,benzin,opel,NaN
60,1,control,suv,1994,manuell,286,NaN,150000,11,NaN,sonstige_autos,NaN
91,1,control,limousine,1995,manuell,113,e_klasse,150000,4,diesel,mercedes_benz,nein
115,0,test,NaN,2017,manuell,0,golf,5000,12,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371356,0,control,NaN,2000,manuell,65,corsa,150000,0,NaN,opel,ja
371392,0,test,kleinwagen,2002,manuell,60,fiesta,150000,3,benzin,ford,NaN
371402,0,control,kleinwagen,1999,manuell,53,swift,150000,3,benzin,suzuki,NaN
371431,0,control,kleinwagen,1999,manuell,37,arosa,150000,7,benzin,seat,ja
371522,0,control,NaN,2005,manuell,0,colt,150000,7,benzin,mitsubishi,ja

In [103]:
bd['price'].mean()

17295.14186548524

Retirada dos carros com valores menores que 10

In [105]:
bd = bd[bd['price'] > 10]

In [107]:
bd.shape

(359410, 12)

In [ ]:
bd.loc[bd['price'] > 350000]

Retirada de carros com valores acima de 350000

In [111]:
bd = bd.loc[bd['price'] < 350000]

In [113]:
bd.shape

(359291, 12)

Verificação de colunas que estão com elementos faltantes juntamente da verificação do resultado mais aparente dentro da coluna.

In [115]:
bd.loc[pd.isnull(bd['vehicleType'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
22,2900,test,NaN,2018,manuell,90,meriva,150000,5,benzin,opel,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
31,899,control,NaN,2016,manuell,60,clio,150000,6,benzin,renault,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [117]:
bd['vehicleType'].value_counts()

vehicleType
limousine     93614
kleinwagen    78014
kombi         65921
bus           29699
cabrio        22509
coupe         18386
suv           14477
andere         3125
Name: count, dtype: int64

In [119]:
bd.loc[pd.isnull(bd['gearbox'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
15,450,test,kleinwagen,1910,NaN,0,ka,5000,0,benzin,ford,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
32,245,test,limousine,1994,NaN,0,golf,150000,2,benzin,volkswagen,nein
37,1500,test,NaN,2016,NaN,0,kangoo,150000,1,diesel,renault,nein
70,1200,test,coupe,2001,NaN,0,astra,150000,0,NaN,opel,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371443,3300,control,kombi,2006,NaN,0,touran,150000,7,diesel,volkswagen,NaN
371460,3500,control,NaN,1995,NaN,0,polo,150000,0,NaN,volkswagen,NaN
371486,350,control,kleinwagen,1996,NaN,65,punto,150000,0,NaN,fiat,NaN
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [121]:
bd['gearbox'].value_counts()

gearbox
manuell      266547
automatik     75508
Name: count, dtype: int64

In [125]:
bd.loc[pd.isnull(bd['model'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
83,350,control,kleinwagen,1997,manuell,54,NaN,150000,3,NaN,fiat,ja
139,1450,control,limousine,1992,manuell,136,NaN,150000,0,NaN,audi,nein
156,6799,control,kleinwagen,2009,NaN,60,NaN,20000,5,benzin,volkswagen,nein
165,500,control,kleinwagen,1999,manuell,0,NaN,150000,0,benzin,renault,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371399,560,control,kleinwagen,2001,automatik,170,NaN,90000,0,benzin,fiat,ja
371476,9400,control,kombi,2007,manuell,200,NaN,150000,4,diesel,sonstige_autos,ja
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [127]:
bd['model'].value_counts()

model
golf               28989
andere             25560
3er                19905
polo               12604
corsa              12149
                   ...
serie_2                8
rangerover             6
serie_3                3
serie_1                1
discovery_sport        1
Name: count, Length: 251, dtype: int64

In [129]:
bd.loc[pd.isnull(bd['fuelType'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
13,2500,control,kombi,2004,manuell,131,passat,150000,2,NaN,volkswagen,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
36,1600,control,andere,1991,manuell,75,kadett,70000,0,NaN,opel,NaN
41,7500,control,limousine,2002,automatik,306,e_klasse,150000,4,NaN,mercedes_benz,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371496,3850,test,cabrio,2006,manuell,108,2_reihe,125000,2,NaN,peugeot,nein
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [131]:
bd['fuelType'].value_counts()

fuelType
benzin     217582
diesel     106002
lpg          5222
cng           557
hybrid        271
andere        165
elektro       101
Name: count, dtype: int64

In [133]:
bd.loc[pd.isnull(bd['notRepairedDamage'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
8,14500,control,bus,2014,manuell,125,c_max,30000,8,benzin,ford,NaN
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
12,999,control,kombi,1995,manuell,115,passat,150000,11,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371507,5999,test,kombi,2005,manuell,140,a4,150000,4,diesel,audi,NaN
371514,999,control,cabrio,2000,manuell,95,megane,150000,4,benzin,renault,NaN
371515,1690,test,kombi,2004,manuell,55,fabia,150000,4,benzin,skoda,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN

In [135]:
bd['notRepairedDamage'].value_counts()

notRepairedDamage
nein    259301
ja       34004
Name: count, dtype: int64

Criação de um dicionário para repor os valores faltantes com os respectivos valores mais aparentes de cada categoria.

In [143]:
valores = {'vehicleType' : 'limousine',
           'gearbox' : 'manuell',
           'model' : 'golf',
           'fuelType' : 'benzin',
           'notRepairedDamage' : 'nein'}

Substituição dos valores faltantes

In [145]:
bd = bd.fillna(value = valores)

In [147]:
bd

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,limousine,1993,manuell,0,golf,150000,0,benzin,volkswagen,nein
1,18300,test,coupe,2011,manuell,190,golf,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,nein
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2200,test,limousine,2005,manuell,0,golf,20000,1,benzin,sonstige_autos,nein
371524,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,nein
371527,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

Verificação se foi tudo substituido

In [151]:
bd.isnull().sum()

price                  0
abtest                 0
vehicleType            0
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
kilometer              0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      0
dtype: int64

Criação dos dados de teste retirando o valor

In [155]:
X = bd.iloc[:, 1:12].values
X

array([['test', 'limousine', 1993, ..., 'benzin', 'volkswagen', 'nein'],
       ['test', 'coupe', 2011, ..., 'diesel', 'audi', 'ja'],
       ['test', 'suv', 2004, ..., 'diesel', 'jeep', 'nein'],
       ...,
       ['test', 'bus', 1996, ..., 'diesel', 'volkswagen', 'nein'],
       ['test', 'kombi', 2002, ..., 'diesel', 'volkswagen', 'nein'],
       ['control', 'limousine', 2013, ..., 'benzin', 'bmw', 'nein']],
      dtype=object)

Tabela com os valores para poder fazer a verificação

In [159]:
y = bd.iloc[:, 0].values
y

array([  480, 18300,  9800, ...,  9200,  3400, 28990], dtype=int64)

Não tem como fazer a comparação de preços com marcas pois não é preciso, por isso tem que codificar para não ter mudança no peso com base na marca

In [161]:
bd['brand'].value_counts

<bound method IndexOpsMixin.value_counts of 0             volkswagen
1                   audi
2                   jeep
3             volkswagen
4                  skoda
               ...
371523    sonstige_autos
371524             smart
371525        volkswagen
371526        volkswagen
371527               bmw
Name: brand, Length: 359291, dtype: object>

Encodificação das colunas necessárias

In [173]:
onehotencoder = ColumnTransformer(transformers=[('OneHot', OneHotEncoder(), [0, 1, 3, 5, 8, 9, 10])], remainder='passthrough')

In [175]:
X = onehotencoder.fit_transform(X).toarray()
X

array([[0.00e+00, 1.00e+00, 0.00e+00, ..., 0.00e+00, 1.50e+05, 0.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.90e+02, 1.25e+05, 5.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.63e+02, 1.25e+05, 8.00e+00],
       ...,
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.02e+02, 1.50e+05, 3.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.00e+02, 1.50e+05, 6.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, ..., 3.20e+02, 5.00e+04, 8.00e+00]])

In [177]:
bd.shape, X.shape

((359291, 12), (359291, 316))

Criação da rede neural com 316 entradas, 2 camadas ocultas com 158 neuronios, e uma camada de saída com apenas 1.

In [185]:
regressor = Sequential([
    tf.keras.layers.InputLayer(shape =(316,)),
    tf.keras.layers.Dense(units = 158, activation = 'relu'),
    tf.keras.layers.Dense(units = 158, activation = 'relu'),
    tf.keras.layers.Dense(units = 1, activation = 'linear'),
])
regressor.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 158)                 │          50,086 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 158)                 │          25,122 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_2 (Dense)                      │ (None, 1)                   │             159 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 75,367 (294.40 KB)

 Trainable params: 75,367 (294.40 KB)

 Non-trainable params: 0 (0.00 B)

passagem dos parametros para a rede neural

In [187]:
regressor.compile(loss = 'mean_absolute_error', optimizer = 'adam', metrics = ['mean_absolute_error'])

treinamento

In [191]:
regressor.fit(X, y, batch_size = 300, epochs = 100)

Epoch 1/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2275.8870 - mean_absolute_error: 2275.8870
Epoch 2/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2262.0608 - mean_absolute_error: 2262.0608
Epoch 3/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2306.7158 - mean_absolute_error: 2306.7158
Epoch 4/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - loss: 2285.2405 - mean_absolute_error: 2285.2405
Epoch 5/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2285.6238 - mean_absolute_error: 2285.6238
Epoch 6/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - loss: 2265.7261 - mean_absolute_error: 2265.7261
Epoch 7/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2289.9819 - mean_absolute_error: 2289.9819
Epoch 8/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2265.7710 - mean_absolute_error: 2265.7710
Epoch 9/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2271.8455 - mean_absolute_error: 2271.8455
Epoch 10/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2263.4309 - mean_absolute_error: 2263.4309
Epoch 11/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2256.7256 - mean_absolute_error: 2256.7256
Epoch 12/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2272.9265 - mean_absolute_error: 2272.9265
Epoch 13/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2285.3511 - mean_absolute_error: 2285.3511
Epoch 14/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2278.7532 - mean_absolute_error: 2278.7532
Epoch 15/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2267.2996 - mean_absolute_error: 2267.2996
Epoch 16/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2271.0659 - mean_absolute_error: 2271.0659
Epoch 17/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2270.7778 - mean_absolute_error: 2270.7778
Epoch 18/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2273.3210 - mean_absolute_error: 2273.3210
Epoch 19/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2280.1396 - mean_absolute_error: 2280.1396
Epoch 20/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2261.9241 - mean_absolute_error: 2261.9241
Epoch 21/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2265.1787 - mean_absolute_error: 2265.1787
Epoch 22/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2230.6802 - mean_absolute_error: 2230.6802
Epoch 23/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2263.6499 - mean_absolute_error: 2263.6499
Epoch 24/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2249.8303 - mean_absolute_error: 2249.8303
Epoch 25/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2265.7031 - mean_absolute_error: 2265.7029
Epoch 26/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2249.9453 - mean_absolute_error: 2249.9453
Epoch 27/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2270.0701 - mean_absolute_error: 2270.0701
Epoch 28/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2261.7273 - mean_absolute_error: 2261.7273
Epoch 29/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2256.4890 - mean_absolute_error: 2256.4890
Epoch 30/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2247.1328 - mean_absolute_error: 2247.1328
Epoch 31/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2233.7239 - mean_absolute_error: 2233.7239
Epoch 32/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 2248.1362 - mean_absolute_error: 2248.1362
Epoch 33/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2246.1331 - mean_absolute_error: 2246.1331
Epoch 34/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2260.2285 - mean_absolute_error: 2260.2285
Epoch 35/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2257.1985 - mean_absolute_error: 2257.1985
Epoch 36/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2237.2883 - mean_absolute_error: 2237.2883
Epoch 37/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2248.6030 - mean_absolute_error: 2248.6030
Epoch 38/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2247.4443 - mean_absolute_error: 2247.4441
Epoch 39/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2259.6377 - mean_absolute_error: 2259.6377
Epoch 40/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2239.3071 - mean_absolute_error: 2239.3071
Epoch 41/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2226.5427 - mean_absolute_error: 2226.5427
Epoch 42/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2234.5842 - mean_absolute_error: 2234.5842
Epoch 43/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 2261.5728 - mean_absolute_error: 2261.5728
Epoch 44/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 2237.7917 - mean_absolute_error: 2237.7917
Epoch 45/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2231.2324 - mean_absolute_error: 2231.2324
Epoch 46/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2234.0808 - mean_absolute_error: 2234.0808
Epoch 47/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2249.5491 - mean_absolute_error: 2249.5491
Epoch 48/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2234.8953 - mean_absolute_error: 2234.8953
Epoch 49/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2242.5872 - mean_absolute_error: 2242.5872
Epoch 50/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2234.2737 - mean_absolute_error: 2234.2737
Epoch 51/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 2270.6304 - mean_absolute_error: 2270.6304
Epoch 52/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2222.8928 - mean_absolute_error: 2222.8928
Epoch 53/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2245.0269 - mean_absolute_error: 2245.0271
Epoch 54/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2224.1130 - mean_absolute_error: 2224.1130
Epoch 55/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2229.7480 - mean_absolute_error: 2229.7480
Epoch 56/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2235.7192 - mean_absolute_error: 2235.7192
Epoch 57/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2228.4421 - mean_absolute_error: 2228.4421
Epoch 58/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - loss: 2218.9128 - mean_absolute_error: 2218.9128
Epoch 59/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2222.8997 - mean_absolute_error: 2222.8999
Epoch 60/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2232.5532 - mean_absolute_error: 2232.5532
Epoch 61/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2247.4558 - mean_absolute_error: 2247.4558
Epoch 62/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2208.9709 - mean_absolute_error: 2208.9709
Epoch 63/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2214.7615 - mean_absolute_error: 2214.7615
Epoch 64/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2224.5432 - mean_absolute_error: 2224.5432
Epoch 65/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2212.9958 - mean_absolute_error: 2212.9958
Epoch 66/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2229.2004 - mean_absolute_error: 2229.2004
Epoch 67/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2233.1250 - mean_absolute_error: 2233.1250
Epoch 68/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2212.4041 - mean_absolute_error: 2212.4041
Epoch 69/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2222.3630 - mean_absolute_error: 2222.3630
Epoch 70/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2218.3022 - mean_absolute_error: 2218.3022
Epoch 71/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 2212.0559 - mean_absolute_error: 2212.0559
Epoch 72/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2222.1377 - mean_absolute_error: 2222.1377
Epoch 73/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2206.7026 - mean_absolute_error: 2206.7026
Epoch 74/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2227.8596 - mean_absolute_error: 2227.8596
Epoch 75/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2214.6379 - mean_absolute_error: 2214.6379
Epoch 76/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2219.4248 - mean_absolute_error: 2219.4246
Epoch 77/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2208.7903 - mean_absolute_error: 2208.7903
Epoch 78/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2200.1472 - mean_absolute_error: 2200.1472
Epoch 79/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 2221.0002 - mean_absolute_error: 2221.0002
Epoch 80/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2218.7703 - mean_absolute_error: 2218.7703
Epoch 81/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2215.7927 - mean_absolute_error: 2215.7927
Epoch 82/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2222.4653 - mean_absolute_error: 2222.4653
Epoch 83/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2196.3076 - mean_absolute_error: 2196.3076
Epoch 84/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2216.5920 - mean_absolute_error: 2216.5920
Epoch 85/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2202.7747 - mean_absolute_error: 2202.7747
Epoch 86/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 2207.3472 - mean_absolute_error: 2207.3472
Epoch 87/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 2192.8105 - mean_absolute_error: 2192.8105
Epoch 88/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2197.0850 - mean_absolute_error: 2197.0850
Epoch 89/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2196.3037 - mean_absolute_error: 2196.3035
Epoch 90/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2215.8257 - mean_absolute_error: 2215.8257
Epoch 91/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 2219.2834 - mean_absolute_error: 2219.2834
Epoch 92/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2215.9834 - mean_absolute_error: 2215.9832
Epoch 93/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2192.4709 - mean_absolute_error: 2192.4709
Epoch 94/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2199.5825 - mean_absolute_error: 2199.5825
Epoch 95/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2215.7305 - mean_absolute_error: 2215.7305
Epoch 96/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2193.8708 - mean_absolute_error: 2193.8708
Epoch 97/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2198.0374 - mean_absolute_error: 2198.0374
Epoch 98/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2205.8318 - mean_absolute_error: 2205.8318
Epoch 99/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2182.8459 - mean_absolute_error: 2182.8459
Epoch 100/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 2197.6890 - mean_absolute_error: 2197.6890

In [193]:
previsoes = regressor.predict(X)

11228/11228 ━━━━━━━━━━━━━━━━━━━━ 17s 2ms/step

Previsões ao lado dos preços verdadeiros

In [199]:
previsoes, y

(array([[  850.7041],
        [ 9417.83  ],
        [12491.79  ],
        ...,
        [ 5555.1396],
        [ 2918.7368],
        [27157.025 ]], dtype=float32),
 array([  480, 18300,  9800, ...,  9200,  3400, 28990], dtype=int64))

Média de ambos

In [201]:
previsoes.mean(), y.mean()

(5099.4067, 5916.833945186492)

Salvamento para possível futuro uso.

In [205]:
regressor.save('rede_carros.keras')